<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css">

</head>
<body>
    <div class="header">
        <div class="header__top container">
            <div class="row">
                <div class="shop-data col-md-6 row">
                    <div class="shop-data__shop-icon col-md-1">
                        <img src="" alt="">
                    </div>
                    <div class="shop-data__shop-region cold-md-3">
                        <span>Санкт-Петербург</span>
                    </div>
                    <a href="" class="shop-data__shop-adress col-md-4">Петроградская</a>
                    <div class="shop-data__shop-phone col-md-4">
                        <p>+7(952)1488-1488</p>
                    </div>
                </div>
                <div class="header__autorization col-md-6">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
        <div class="header__bottom container">
            <div class="row">
                <div class="header__bottom-logo col-md-3">
                    <img src="/Content/Images/a_logo.png" alt="">
                </div>
                <div class="header-search col-md-6 row align-items-center">
                    <div class="header-search-button">
                        @using (Html.BeginForm("Find", "Home", FormMethod.Get, new{@class ="row"}))
                        {
                            <div class="header-search__input col-md-10">
                                @Html.TextBox("query", "Введите название колпака")
                            </div>
                            <div class="header-search_submit col-md-2">
                                <a href="" class="header-search__submitt-img"></a>
                            </div>
                        }
                    </div>
                </div>
                <div class="shop-function col-md-3 row align-items-center">
                    <div class="shop-function-cart row">
                        <div class="cart-image col-md-1"></div>
                        <a href="" class="cart-text col-md-3">Корзина</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
