<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yapart - интернет-магазин автоаксессуаров</title>
    <link rel="icon" href="/Content/Images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/Content/Images/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="../../Content/site.css" />
</head>
<body>
    <div class="header">
        <div class="header__top container">
            <div class="wrapper row">
                <div class="shop-data col-md-9">
                    <div class="shop-data__shop-icon">
                        <img src="/Content/Images/map-marker.svg" alt="" />
                    </div>
                    <div class="shop-data__shop-region">
                        <span>Санкт-Петербург</span>
                        <a href="" class="shop-data__shop-current-region">Петроградская</a>
                    </div>
                    <div class="shop-data__shop-adress">
                        <span>ул.Инструментальная 3</span>
                    </div>
                    <div class="shop-data__shop-phone">
                        <img src="/Content/Images/phone.svg" alt="Alternate Text" />
                        <p>+7(952)1488-1488</p>
                    </div>
                </div>
                <div class="header__autorization col-md-3">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
        <div class="header__bottom container">
            <div class=" wrapper row">
                <div class="header__bottom-logo col-md-4 mb-3">
                    <a href="@Url.Action("Index", "Caps")">
                        <img src="/Content/Images/logo.png" alt="" />
                    </a>
                    <div class="header__bottom-logo-text">
                        интернет-магазин автоаксессуаров
                    </div>
                </div>
                <div class="header-search col-md-5 align-items-center mb-3">
                    <div class="header-search__text">Поиск</div>
                    <div class="header-search__input input-group">
                        <input type="text" class="form-control" placeholder="Введите артикул">
                        <div class="header-search__button input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Поиск</button>
                        </div>
                    </div>

                    @*<div class="header-search-button">
                            @using (Html.BeginForm("Find", "Home", FormMethod.Get, new {@class = "row"}))
                            {
                                <div class="header-search__input col-md-10">
                                    @Html.TextBox("query", "Введите название колпака")
                                </div>
                                <div class="header-search_submit col-md-2">
                                    <a href="" class="header-search__submitt-img"></a>
                                </div>
                            }
                        </div>*@
                </div>
                <div class="cart col-md-3 align-items-start">
                    <a class="cart__image" href="@Url.Action("Index", "Cart")"></a>
                    <div class="cart__info">
                        <a class="cart__text" href="@Url.Action("Index", "Cart")">Корзина</a>
                        <div class="cart__number-items">
                            Товаров
                            <span>@Session["CountInCart"]</span>
                        </div>
                        <div class="cart__total-cost">
                            Сумма
                            <span>@Session["TotalConstInCart"]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="main-manu__inner container">
            <ul class="main-menu__ul">
                <li id="catalog">
                    <a href="#">Каталог товаров</a>
                    @*@Html.ActionLink("Каталог товаров", "Index", "Catalog")*@
                </li>
                <li id="how-order">
                    <a href="#">Как заказать</a>
                    @*@Html.ActionLink("Как заказать", "Index", "Caps")*@
                </li>
                <li>
                    <a href="#">Доставка и оплата</a>
                </li>
                <li>
                    <a href="#">Полезные советы</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li>
                    <a href="#">Оптавикам</a>
                </li>
                <li>
                    <a href="#">Акции</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/JS/myScript.js")
    @RenderSection("scripts", required: false)

</body>
</html>
