@using YapartStore.UI.Helpers
@model YapartStore.UI.ViewModels.CapsCatalogViewModel

@{
    ViewBag.Title = "Index";
}

<div class="filter-menu row">
    <div class="filter-dropdown">
        @using (Html.BeginForm("Index", "Caps", FormMethod.Post))
        {
           @Html.DropDownListFor(x => x.SelectedId, Model.CapsSize, new {onchange = "this.form.submit();"})
        }
    </div>
</div>
 

<div class="container">
    <div class="caps row">
        @foreach (var cap in Model.Products)
        {
            <div class="caps__image col-md-5">
                @foreach (var picture in cap.Pictures)
                {

                    <img src="@picture.Path" />

                }
            </div>
            <div class="col-md-1">@cap.Article</div>
            <div class="col-md-4">@cap.Descriptions</div>
            <div class="col-md-2">@cap.Price</div>
        }
    </div>
    <div class="pagination">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
    </div>
</div>

