@{
    ViewBag.Title = "Accessories";
}


<div class="descriptions">
    <!-- name accessuares--> 
    <div class="descriptions__name">
       <h1>@ViewBag.Accessories.Name @ViewBag.Mark @ViewBag.Model</h1>  
    </div>
</div>
<div class="selection-cars">
    <div class="selection-cars__descriptions">
        Подбор по автомобилю @ViewBag.Mark @ViewBag.Model
    </div>
    <div class="generation-cars">
        
        <a class="generation-cars__item">
            <img class="image">
            <div class="years"></div>
            <div class="name"></div>
        </a>
    </div>
</div>
<div class="sorting"></div>
<div class="products">   
    <div class="product__item">
        <div class="product__image">
            <img>
        </div>
        <div class="product__title">
            <a></a>
            <div class="product__title-article">
                Артикул: 
            </div>
        </div>
        <div class="product__offer">
            <div class="product__price"></div>
            <div class="product__available"></div>
            <div class="product__pay">
                <button>Купить</button>
            </div>
        </div>
    </div> 
</div>

