@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="category-data container">
    @foreach (var category in @ViewBag.Categories)
    {
        if (@category.Show == true)
        {
            <div>
                <a href="/catalog/@category.EnglishName/@ViewBag.Mark/@ViewBag.Model/@ViewBag.Modification">@category.Name</a>
            </div>
        }
    }
</div>

<div class="sorting"></div>
<div class="products">
    @foreach (var accessory in @ViewBag.Accessories)
    {
        <div class="product__item">
            <div class="product__image">
                <img src="#">
            </div>
            <div class="product__title">
                <a>@accessory.Descriptions</a>
                <div class="product__title-article">
                    Артикул: @accessory.Article
                </div>
            </div>
            <div class="product__offer">
                <div class="product__price">@accessory.Price</div>
                <div class="product__available"></div>
                <div class="product__pay">
                    <button>Купить</button>
                </div>
            </div>
        </div>
    }
    
</div>


